
 * {
  box-sizing: border-box;
 }

 html {
   font-size: 16px;
 }
 
@font-face {
  font-family: "Bebas Neue";
  
  src:url(../fonts/BebasNeueBook.woff) format('woff'),
 
  font-weight: normal;
  font-style: normal;
}
 


 body {
  font-family: "Noto Sans", sans-serif;
 }

 .container {
  width: 90rem;
  margin: auto;
 }
.navbar {
 /* background-color: rgb(12, 201, 97);*/
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  border-botton: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.5s;
 }

 .navbar-light {
  background-color: #fff;
  color: #292d33;
 }

 .logo-svg {
  width: 8.75rem;
  height: 2.75rem;
 }

 
 .navbar-light .header-logo-path {
  fill:#292d33;
 }

 .header {
  padding-top: 5.875rem;
  min-height: 100vh;
 }

 .header-image {
  background-image: url('../img/header-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
 }

 .header-image::before {
  content:"";
  position: absolute;
  background: rgba(41, 45, 51, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }

 .header-logo {
  padding: 1.5625rem 2.875rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
 }

.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
 }

 .header-nav-item:not(:last-child) {
  margin-right: 4%;
 } 

 .header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
 }

 .header-nav-item {
  margin-left: .625rem;
 }

 .header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  margin-right: 1.5625rem;
  margin-top: -0.3125rem;
 }

 .button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color:#ffffff;
  background: #3a71b1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5625rem 3.4375rem;
  gap: .625rem;
  border: 0;
  flex-shrink: 0; 
  cursor: pointer;
 }

 .header-button {
  height: 100%;
 }

 .seporator {
  background: #5c8ee6;
  width: 9.375rem;
  height: .125rem;
 }

 .header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
 }

 .header-title {
  min-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 120%;
  margin: 1.0625rem 1.3125rem;
  font-weight: normal;
  letter-spacing: .0406rem;
  word-spacing: -0.0688rem;
 }

 .header-text {
  min-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  padding-top: 1.3125rem;
  padding-left: 1.1875rem;
  letter-spacing: .0094rem;
 }

 .btn1 {
  width: 19.5625rem;
  height: 4.75rem;
  cursor: pointer;
  margin-left: 1.25rem;
 }

 .features {
  position: relative;
  margin-top: 1.875rem;
 }

 .header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 33.125rem;
  margin-left: 1.1875rem;
  list-style: none;
  color: #fff;
 
 }

 .header-feature-item {
  padding: 1.875rem 3.125rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
 }

 .header-feature-item:not(:last-child) {
  border-right: none;
 }

 .headerfeatures-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0;
 }

 .section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
 }

 .sectiot-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  padding-left: 1.25rem;
  padding-top: 1rem;
  margin-top: 1rem;

 }

 .steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;

 }

 .steps-item {
  min-width: 20.625rem;
  padding-left: 1.25rem;
 }

 .steps-num {
  font-family: "Bebas Neue";
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee6;
  display: flex;
  align-items: center;
 }

 .steps-num::after {
  content:"";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 1.875rem;
 }

 .steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 1.875rem;
  margin-bottom: .625rem;
  padding-top: .4375rem;
 }

 .steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: .625rem;
  margin-bottom: 1.25rem;
 }

 .steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee6;
 }

 .steps-link::before{
  content: "";
  height: 1px;
  background: #5c8ee6;
  width: 2.5rem;
  margin-right: 1.25rem;
 }

 @media(max-weight: 1700px) {
  html {
    font-size: 14px;
  }
 }

 @media(max-weight: 1500px) {
  html {
    font-size: 12px;
  }
 }

 @media(max-weight: 1500px) {
  html {
   font-size: 12px;
  }
 }